@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border: 20px solid #000;
  width: 100vw;
  height: 100vh;
  content: '';
  clear: both;
display: table;
}

body {
  background: #2be4ea;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border: 2px dotted #e82a86;
  width: 100%;
  height: 100%;
  align-items: center;
}

hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

hgroup h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

hgroup h1::before, hgroup h1::after {
  content: '';
  background: url('../img/pizza-galaxy.gif') center center no-repeat;
  width: 99px;
  height: 56px;
}

hgroup h1::before {
  margin-right: 10px;
}

hgroup h1::after {
  margin-left: 10px;
}

hgroup h2 {
  font-size: .75rem;
  color: #000;
  font-weight: normal;
  padding: 5px;
  margin-top: 5px;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 .25rem;
  padding: .25rem .75rem;
  text-decoration: none;
  font-size: .75rem;
  border: 2px solid transparent;
}

nav a:nth-child(1) {
  background-color: #e5e82a;
}

nav a:nth-child(2) {
  background-color: #e82d2a;
}

nav a:nth-child(3) {
  background-color: #fff;
}

nav a:hover {
  border: 2px dotted #00f;
}

section {
  display: flex;
  flex-direction: column;
  width: 638px;
  row-gap: 10px;
}

section h2 {
  font-size: 1rem;
}

section p {
  font-size: .75rem;
}